Allow double-parsing

In some cases it is useful to consume the entire request body as a buffer (for example when verifying an HMAC signature) but still have it parsed as e.g. JSON later down the pipeline. Currently, this is not supported by this module -- a previously-parsed request is marked as such and is never parsed again.

```js
// In authenticator middleware module:
module.exports = [
  bodyParser.raw({ type: '*/*' }),
  authenticator,
];

// In router:
const authenticator = require('./authenticator');

router.post('/foo', authenticator, bodyParser.json(), (req, res, next) => {
  console.log(req.body); // A Buffer object, not the parsed JSON body
  next();
});
```

It would be very helpful to allow a request to be marked as not-parsed and have the JSON body parser use the already-read buffer object as the source. (It's not as trivial as just using `JSON.parse()` due to the character set issue.)

So this module doesn't mark it not to be parsed again; instead this is a limitation of Node.js streams: the contents can only be read once. Keeping around the body twice internally will mean that the memory requirements will suddenly double.

I suggest that if you need this feature to simply read in the body as something like the Buffer and then call `JSON.parse` on it later if that is what works for you -- the internal parsing mechanisms cannot actually work on the Buffer and need to work on the raw stream itself.

I think what you're describing is useful, but perhaps that is a separate module's purpose. If you think it can be achieved without any edge cases, you're welcome to make a pull request for this feature which we can review 👍 

> for example when verifying an HMAC signature

P.S. this module provides a specific API for this already which does not require double-parsing: the `verify` option.

>So this module doesn't mark it not to be parsed again

Yes it does; all parsers set `req._body` to true after parsing, and all of the parsers bail if this attribute is truthy. (I'm not saying this isn't necessary under the current parsing model, only demonstrating that this marking is, in fact, performed.)

>instead this is a limitation of Node.js streams: the contents can only be read once.

Right -- but we have the body in a buffer, so it's just a matter of being able to communicate that to the parser somehow.

>P.S. this module provides a specific API for this already which does not require double-parsing: the `verify` option.

This is a more fragile approach, however. This prevents me from marking an entire router as requiring authentication _without_ also enabling JSON parsing for every endpoint, which is not necessarily desired. Instead, I have to provide the authenticating middleware to the routes that _don't_ parse the body, and remember to use the `verify` option for those that _do_ need to parse the body.

This dramatically increases the odds of accidentally forgetting to mark an endpoint as authenticated and IMO is bad practice when writing servers requiring authentication. Any authentication middleware should be installed as close to the root route as possible.

>Keeping around the body twice internally will mean that the memory requirements will suddenly double.

Right, I'm not suggesting that the body is always preserved, but `raw()` is a special case where we _already have_ preserved the buffer.

In our case, I'm working around this with a pretty crazy hack that seems to work well: I'm creating a passthrough stream, writing the parsed buffer to it, sticking the headers on it, and handing that off to the JSON-parsing middleware. This way I get the benefits the middleware provides (dealing with charsets, etc.) without having to rewrite all of that logic myself.

Steel yourself, this is ugly.

```js
const stream = require('stream');
const json = require('body-parser').json();

module.exports = (req, res, next) => {
    const mockReq = new stream.PassThrough();
    if (Buffer.isBuffer(req.body)) {
        mockReq.write(req.body);
    }
    mockReq.end();

    mockReq.headers = req.headers;

    json(mockReq, res, arg => {
        if (arg) {
            next(arg);
        } else {
            req.body = mockReq.body;
            next();
        }
    });
};
```

> Yes it does; all parsers set req._body to true after parsing, and all of the parsers bail if this attribute is truthy. (I'm not saying this isn't necessary under the current parsing model, only demonstrating that this marking is, in fact, performed.)

Sorry, I was thinking about how the version 2.0 of this module works; you're right in that 1.0 sets `req._body` and ignores when that is set. This is fragile in of itself, so has been changed as part of 2.0 to instead just look at the state of the Node.js stream.

> Instead, I have to provide the authenticating middleware to the routes that don't parse the body, and remember to use the verify option for those that do need to parse the body.

I'm not sure I understand this point. So you have routes which get a body, but purposely ignore it?

> This dramatically increases the odds of accidentally forgetting to mark an endpoint as authenticated and IMO is bad practice when writing servers requiring authentication. Any authentication middleware should be installed as close to the root route as possible.

That may be true, but using this module at all at the root (even for .raw) allows for DoS attack vectors against the server, unfortunately. We specifically recommend against doing this in the README if at all possible. Due to that, I highly suggest never using this module at the root if you don't need to... https://github.com/expressjs/body-parser#express-route-specific

> Right, I'm not suggesting that the body is always preserved, but raw() is a special case where we already have preserved the buffer.

That may be the case, but it's currently stored in a user-controlled area, `req.body`. Users can alter / delete that content, which we explicitly do not want to allow to happen if double-parsing is to be some kind of built-in feature.

> In our case, I'm working around this with a pretty crazy hack that seems to work well: I'm creating a passthrough stream, writing the parsed buffer to it, sticking the headers on it, and handing that off to the JSON-parsing middleware. This way I get the benefits the middleware provides (dealing with charsets, etc.) without having to rewrite all of that logic myself.

This has a very unfortunate issue: the handling of inflating content. If your raw inflates the gzip such that the Buffer is now the un-gzipped content, then the second json one will then attempt to un-gzip it again, resulting in an error. This is an example of one of the edge cases presented above. I totally understand it may not apply to your specific use-case, but to land a feature in the module directly it needs to work for all the multitude of knobs and use-cases this module provides to provide a seamless experience, which is what I think you're looking for by requesting to add it to this module vs use what you're already doing, is that right?

>I'm not sure I understand this point. So you have routes which get a body, but purposely ignore it?

The authentication middleware has to be generic and be able to support JSON, raw data, or requests with no body. The simplest way to handle this is to parse the body raw and include that data when signing the request. This prevents JSON-specific hacks like ordering the keys, re-encoding, and verifying that string.

So `raw()` is always used but for requests with no body will simply produce a zero-length buffer, which is appropriate and works correctly.

The problem comes later down the line when the leaf routes need to parse the body in specific ways.

>That may be true, but using this module at all at the root (even for .raw) allows for DoS attack vectors against the server, unfortunately. We specifically recommend against doing this in the README if at all possible.

In our case we include the raw body in the input to the HMAC digest, so this is necessary anyway. The `limit` option can help to mitigate this.

>This has a very unfortunate issue: the handling of inflating content. If your raw inflates the gzip such that the Buffer is now the un-gzipped content, then the second json one will then attempt to un-gzip it again, resulting in an error.

Good catch. We can resolve this by removing the content-encoding header before parsing the mock request.

(As an aside, the axios library removes the content-encoding header when automatically decompressing responses. It may make sense for this library to do the same; after the body has been inflated, the header is semantically incorrect.)

> As an aside, the axios library removes the content-encoding header when automatically decompressing responses. It may make sense for this library to do the same for requests; after the body has been inflated, the header is semantically incorrect

Our modules specifically do not manipulate the headers; this is because folks want to understand if it _was_ compressed.

I think we are to the point we are diving into the implementation details. I suggest you make a pull request if you want to see this feature. I think that this is not a desired feature, but a fully formed pull request addressing all the features of this module can sway that, absolutely 👍 

Express is also very generic and allows one to use any body parser they like -- this module doesn't even support all kinds of bodies, so many folks have to use a different parser anyhow. This module is provided with the MIT license, so you can even base a new module off a fork of this one with no issues.

> The authentication middleware has to be generic and be able to support JSON, raw data, or requests with no body. The simplest way to handle this is to parse the body raw and include that data when signing the request.

Is is, though? Why not use the `type` filter to choose between three parsers that match what the contents are going to be in combination with the `verify` option?

Because, as indicated before, this disallows protecting entire trees.  Compare:

```js
const router = express.Router();

router.use(authenticatingMiddleware);

router.get('/foo', fooGetHandler);
router.post('/foo', bodyParser.json(), validator(schema), fooPostHandler);
router.post('/raw', bodyParser.raw(), validator(schema), fooPostHandler);
router.get('/bar', barGetHandler);

module.exports = router;
```

With:

```js
const router = express.Router();

router.get('/foo', authenticatingMiddleware, fooGetHandler);
router.post('/foo', bodyParser.json({ valid: authenticatingValidator }), validator(schema), fooPostHandler);
router.post('/raw', bodyParser.raw({ valid: authenticatingValidator }), validator(schema), fooPostHandler);
router.get('/bar', barGetHandler);

module.exports = router;
```

You might glance at this and not even notice that the authenticating middleware was forgotten on `/bar`. In the first example, the authenticating middleware is inserted before every route in the router and cannot be forgotten on a single route.

It sounds like what you're suggesting is something like:

```js
const router = express.Router();

router.use(bodyParser.raw({ type: '...', valid: authenticatingValidator }));
router.use(bodyParser.json({ type: '...', valid: authenticatingValidator }));
// ...
```

This seems even harder to manage. Now we're parsing anything we're given without respect to what the final route expects.

It's a bit of a weird problem, to be sure. The flow I'm looking for is: authenticate the request (preferably at the router level), possibly parse the body (at the route level), handle the request.

> It sounds like what you're suggesting is something like:

Correct, that is what I'm suggesting.

> This seems even harder to manage. Now we're parsing anything we're given without respect to what the final route expects.

Can you ellaborate more on that use-case? If the incoming data is JSON, would you not always want to parse it as JSON? What else would the route be expecting it to be represented as, if not JSON?

>  The flow I'm looking for is: authenticate the request (preferably at the router level), possibly parse the body (at the route level), handle the request.

I'm happy to help come up with a solution for you with the existing design, or concede something needs to change here, but it would help if you can provide very specific examples of what you're trying to do exactly, otherwise I can provide suggestions, but you'll be able to find a hole in my suggestion due to a previously-unspecified requirement :)

>If the incoming data is JSON, would you not always want to parse it as JSON?

Only if the final route expects JSON data. An example would be an endpoint that takes a blob and stuffs it in object storage, passing through the `content-type` header. It's expecting a buffer object, and in this case I would have used `bodyParser.raw({ type: '*/*' })` because that's exactly what I'm expecting in that route.

Given the example code we're discussing, if the client wants to store a JSON blob they would probably send `content-type: application/json` which would make sense. In that case we'll parse it as JSON _when we don't want to_ because of the global body parser, and the route now has a non-buffer object that it needs to be able to handle.

That's the rub:

1. Perform authentication at the shallowest level possible.
2. Perform parsing at the deepest level possible.
3. Authentication requires access to the entire request body.

As it stands currently, 1 requires 3, and 3 makes 2 either impossible or unwieldy.

I would very much like to be able to hand off content to the body parsers in some way as that makes the whole problem go away -- I can just give them the buffer I previously obtained to authenticate with. The hack I posted before works, but I worry that creating a fake request for `bodyParser.json()` to parse is fragile as the specific request attributes it uses aren't documented (that's not a complaint; there's no reason for them to be documented).

I could also just write my own middleware that does `req.body = JSON.parse(req.body.toString('utf8'));` with some error handling, hope that the charset is correct (who uses non-ASCII characters in JSON anyway, since there is `\u`?), and move on. I was just hoping to "do it the right way" by using an existing parser that understands charsets.

Gotcha. There are still several solutions in my mind, but they all have pros-or-cons and I'm not sure enough about it ultimately, but based on what has been said so far, I can think of a few solutions that won't have any edge cases (regards to parsing):

1) Set the global handler to be aware of the blob routes. If this is good or not will depend a lot on the structure, which hasn't been specified here, so this is just an example assuming it works:
```js
router.use('/raw', bodyParser.raw({ type: 'application/json', valid: authenticatingValidator }))
router.use(bodyParser.json({ type: 'application/json', valid: authenticatingValidator }))
router.use(bodyParser.raw({ type: '*/*', valid: authenticatingValidator }))
```

2) Create a JSON inflator for the JSON-needing routes (as you eluded to, but this is how I would write it as an example):
```js
router.use(bodyParser.raw({ type: '*/*', valid: authenticatingValidator }));

router.get('/foo', fooGetHandler);
router.post('/foo', parseJson, validator(schema), fooPostHandler);
router.post('/raw', validator(schema), fooPostHandler);
router.get('/bar', barGetHandler);

function parseJson (req, res, next) {
  try {
    req.body = Buffer.isBuffer(req.body) ? JSON.parse(req.body.toString()) : {}
    next()
  } catch (e) {
    next(e)
  }
}
```

I think the argument about the JSON charset is not 100% relevant here; we are dropping all non-UTF-8 JSON charsets in 2.0 and the JSON specification declares them to be invalid (see RFC 8259, section 8.1):

>    JSON text exchanged between systems that are not part of a closed
   ecosystem MUST be encoded using UTF-8 [RFC3629].

A method around this could be maybe option 3:

3) Same as 2, but uses text as the JSON intermediate to keep charset handing in the module:
```js
router.use(bodyParser.text({ type: 'application/json', valid: authenticatingValidator }));
router.use(bodyParser.raw({ type: '*/*', valid: authenticatingValidator }));

router.get('/foo', fooGetHandler);
router.post('/foo', parseJson, validator(schema), fooPostHandler);
router.post('/raw', validator(schema), fooPostHandler);
router.get('/bar', barGetHandler);

function parseJson (req, res, next) {
  try {
    req.body = typeof req.body === 'string' ? JSON.parse(req.body) : {}
    next()
  } catch (e) {
    next(e)
  }
}
```

And don't want to leave out, of course, your 4th method, which was the ugly code a few comments above.

As I was typing this, it got me wondering upon something that may be overlooked here and may change the solutions a lot: when a route does not make use of the body (like GET /bar in you example) I get that the authentication should validate the HMAC. But is there actually a body on those particular routes, or is it an empty body and the HMAC is effectively against an empty string?

>I think the argument about the JSON charset is not 100% relevant here; we are dropping all non-UTF-8 JSON charsets in 2.0 and the JSON specification declares them to be invalid (see RFC 8259, section 8.1)

That's actually really great news. Thanks for pointing this out. This makes the simple charset-naive-middleware approach feasible, and is the most practical way to handle this situation anyway.

>But is there actually a body on those particular routes, or is it an empty body and the HMAC is effectively against an empty string?

An empty buffer (insofar as as the distinction actually matters), yes. The method, hostname, request URI, timestamp, some headers, and the request body are all included. There is no semantic difference (in my mind) between a request with no body (GET) and one with an empty body (POST with `content-length: 0`). There is little to gain by treating them differently in code. Using a zero-length buffer for an absent body keeps the authentication code path simple.